<div class="container">

    <div *ngIf="showForm">
        <form class="row g-3" (ngSubmit)="onSubmit()">
            <input [(ngModel)]="email" name="email" class="form-control" placeholder="name@example.com" required>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="submit" class="btn btn-primary" >Confirm identity</button>
            </div>
        </form>
    </div>

    <div *ngIf="!showForm">
        <app-restricted-profile></app-restricted-profile>
    </div>
    
    <div *ngIf="showUserNotFound">
        <div class="alert alert-danger" role="alert">
            User not found. Check the email entered!
        </div>
    </div>
</div>
